.container {
    position:relative;
        width: 100vw;
        height:100vh;
        margin:0;
        background-color: white;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
      
   form {
    position: absolute;

        background-color: rgba(0, 0, 0, 0.1);
       color:black;
        top:20%;
        left:50%;
        transform: translateX(-50%);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
        border-radius: 1rem;

        width: 40rem;
        padding: .5rem;
        margin-bottom:8rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            // color: #fff;
              padding: 1rem;
              padding-bottom: 0.5rem;
              font-weight: bold;
              border-bottom: solid 2px var(--color-danger);
          }
      input:not(:nth-last-child(1)), textarea {
        width: 100%;
        padding: 1rem;
        border: none;
        outline:none;
        font-size: 1.5rem;
      };  
      
      input {
        border-radius:1rem;
      }
      input[type="submit"] {
        margin:1rem;
        font-weight: bold;
      }
      label {
        align-self:flex-start;
        font-size: 2rem;
        font-weight: bold;
        // padd10ng-left: .5rem;
      }
     textarea {
        height:4rem;
     }
        
    @media (max-width: 500px) {
        width:80%;
      }     
    }

    @media (max-width: 500px)
     { top: 10%}
}